APP_NAME=Alegra
APP_ENV=local
APP_KEY=base64:ziz7j9Cope6HruL+Ow4OE+vgIizN9k60Y4rmRUK7wPE=
APP_DEBUG=true
APP_URL=http://alegra-restaurant-test.test

DB_CONNECTION=pgsql

REQUESTS_PER_MINUTE=6000000000

ALLOWED_ORIGINS='https://samu3le-restaurant-test.netlify.app/,http://localhost:8080,http://localhost:8000'

DB_HOST=test_restaurant_db

DB_PORT=5432
DB_DATABASE=test_microservices
DB_USERNAME=postgres
DB_PASSWORD=123456